body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    font-family: 'Roboto', sans-serif;

    background-color: #000000;

    margin: 0;
}

header {
    padding: 1em;
}

h1 {
    font-size: 1.4em;
    margin-bottom: 0;
}

h2 {
    font-size: .9em;
    margin-top: 0;
}

h1, h2, li {
    color: #be9b7b;
    font-weight: 400;
}

ul {
    display: flex;
    gap: 15px;
}

li {
    list-style-type: none;
}

a {
    color: #be9b7b;
    text-decoration: none;
}

a:hover{
    color: whitesmoke;
}

a:active, a:focus {
    color: fuchsia;
}

a:visited {
    color: #999;
}

button {
    display: flex;

    background-color: #be9b7b;

    margin: 0 auto;
    border: 0;
    border-radius: 2px;
    padding: .5rem 1rem;

    cursor: pointer;
}

button:hover {
    opacity: .75;

    transition-duration: .25s;
}

section {
    text-align: center;

    background-color: #be9b7b;

    width: 100%;

    padding: 2em 0;
}

.hero {
    background-image: url('/images/nikolett-emmert-2-rats.jpg');
    background-position: 100% 75%;
    background-size: cover;

    min-height: 200px;
}

p {
    text-align: left;

    margin: 0 1em;
}

.intro {
    color: #999;
    line-height: 1.5;

    margin-bottom: 1rem;
}

main {
    margin: .5rem 2rem;
}

.images-collage {
    display: flex;
}

.collage-img {
    width: 30%;

    margin: 0 auto 5%;
}

@media screen and (min-width: 1200px){
    .hero {
        background-image: url('/images/nikolett-emmert-2-rats.jpg');
        background-position: 100% 75%;
        background-size: cover;
    
        min-height: 300px;
    }

    .collage-img {
        width: 20%;
    
        margin: 0 auto 5%;
    }
}